---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Olankens</title>
  </head>
  <body class="bg-gray-900">
    <div class="flex h-screen items-center justify-center">
      <h1 class="text-center text-6xl font-bold text-yellow-400">
        <samp>🚧</samp>
      </h1>
    </div>
  </body>
</html>
